src/conf/xml-resources/web-service-references/serviciologin/wsdl/127.0.0.1_8280/serviciologin.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PublicadorLoginService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/serviciologin?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicarLogin">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarLoginResponse"></message>
<message name="ObtenerDtUsuario">
<part name="login" type="xsd:string"></part>
</message>
<message name="ObtenerDtUsuarioResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="ObtenerDtUsuario_Correo">
<part name="login" type="xsd:string"></part>
</message>
<message name="ObtenerDtUsuario_CorreoResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<portType name="PublicadorLogin">
<operation name="publicarLogin">
<input wsam:Action="http://Servicios/PublicadorLogin/publicarLoginRequest" message="tns:publicarLogin"></input>
<output wsam:Action="http://Servicios/PublicadorLogin/publicarLoginResponse" message="tns:publicarLoginResponse"></output>
</operation>
<operation name="ObtenerDtUsuario">
<input wsam:Action="http://Servicios/PublicadorLogin/ObtenerDtUsuarioRequest" message="tns:ObtenerDtUsuario"></input>
<output wsam:Action="http://Servicios/PublicadorLogin/ObtenerDtUsuarioResponse" message="tns:ObtenerDtUsuarioResponse"></output>
</operation>
<operation name="ObtenerDtUsuario_Correo">
<input wsam:Action="http://Servicios/PublicadorLogin/ObtenerDtUsuario_CorreoRequest" message="tns:ObtenerDtUsuario_Correo"></input>
<output wsam:Action="http://Servicios/PublicadorLogin/ObtenerDtUsuario_CorreoResponse" message="tns:ObtenerDtUsuario_CorreoResponse"></output>
</operation>
</portType>
<binding name="PublicadorLoginPortBinding" type="tns:PublicadorLogin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicarLogin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ObtenerDtUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ObtenerDtUsuario_Correo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorLoginService">
<port name="PublicadorLoginPort" binding="tns:PublicadorLoginPortBinding">
<soap:address location="http://127.0.0.1:8280/serviciologin"></soap:address>
</port>
</service>
</definitions>