web/WEB-INF/wsdl/127.0.0.1_8280/servicioECC.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PublicadorExtenderCancelarComentarPropuestaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioECC?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicarExtenderCancelarComentarPropuesta">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarExtenderCancelarComentarPropuestaResponse"></message>
<message name="ComentarPropuesta">
<part name="titulo" type="xsd:string"></part>
<part name="nick" type="xsd:string"></part>
<part name="texto" type="xsd:string"></part>
</message>
<message name="ComentarPropuestaResponse"></message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="ListarPropuestasCancelar">
<part name="nick" type="xsd:string"></part>
</message>
<message name="ListarPropuestasCancelarResponse">
<part name="return" type="tns:dtListNickTitProp"></part>
</message>
<message name="ExtenderFinanciacion">
<part name="titulo" type="xsd:string"></part>
</message>
<message name="ExtenderFinanciacionResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="CancelarPropuesta">
<part name="titulo" type="xsd:string"></part>
<part name="nick" type="xsd:string"></part>
</message>
<message name="CancelarPropuestaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="ListarPropuestasX_deProponenteX">
<part name="nick" type="xsd:string"></part>
</message>
<message name="ListarPropuestasX_deProponenteXResponse">
<part name="return" type="tns:dtListNickTitProp"></part>
</message>
<message name="ListarPropuestasComentar"></message>
<message name="ListarPropuestasComentarResponse">
<part name="return" type="tns:dtListNickTitProp"></part>
</message>
<portType name="PublicadorExtenderCancelarComentarPropuesta">
<operation name="publicarExtenderCancelarComentarPropuesta">
<input wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/publicarExtenderCancelarComentarPropuestaRequest" message="tns:publicarExtenderCancelarComentarPropuesta"></input>
<output wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/publicarExtenderCancelarComentarPropuestaResponse" message="tns:publicarExtenderCancelarComentarPropuestaResponse"></output>
</operation>
<operation name="ComentarPropuesta" parameterOrder="titulo nick texto">
<input wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ComentarPropuestaRequest" message="tns:ComentarPropuesta"></input>
<output wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ComentarPropuestaResponse" message="tns:ComentarPropuestaResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ComentarPropuesta/Fault/Exception"></fault>
</operation>
<operation name="ListarPropuestasCancelar">
<input wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ListarPropuestasCancelarRequest" message="tns:ListarPropuestasCancelar"></input>
<output wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ListarPropuestasCancelarResponse" message="tns:ListarPropuestasCancelarResponse"></output>
</operation>
<operation name="ExtenderFinanciacion">
<input wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ExtenderFinanciacionRequest" message="tns:ExtenderFinanciacion"></input>
<output wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ExtenderFinanciacionResponse" message="tns:ExtenderFinanciacionResponse"></output>
</operation>
<operation name="CancelarPropuesta" parameterOrder="titulo nick">
<input wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/CancelarPropuestaRequest" message="tns:CancelarPropuesta"></input>
<output wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/CancelarPropuestaResponse" message="tns:CancelarPropuestaResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/CancelarPropuesta/Fault/Exception"></fault>
</operation>
<operation name="ListarPropuestasX_deProponenteX">
<input wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ListarPropuestasX_deProponenteXRequest" message="tns:ListarPropuestasX_deProponenteX"></input>
<output wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ListarPropuestasX_deProponenteXResponse" message="tns:ListarPropuestasX_deProponenteXResponse"></output>
</operation>
<operation name="ListarPropuestasComentar">
<input wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ListarPropuestasComentarRequest" message="tns:ListarPropuestasComentar"></input>
<output wsam:Action="http://Servicios/PublicadorExtenderCancelarComentarPropuesta/ListarPropuestasComentarResponse" message="tns:ListarPropuestasComentarResponse"></output>
</operation>
</portType>
<binding name="PublicadorExtenderCancelarComentarPropuestaPortBinding" type="tns:PublicadorExtenderCancelarComentarPropuesta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicarExtenderCancelarComentarPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ComentarPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ListarPropuestasCancelar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ExtenderFinanciacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="CancelarPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ListarPropuestasX_deProponenteX">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ListarPropuestasComentar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorExtenderCancelarComentarPropuestaService">
<port name="PublicadorExtenderCancelarComentarPropuestaPort" binding="tns:PublicadorExtenderCancelarComentarPropuestaPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioECC"></soap:address>
</port>
</service>
</definitions>