web/WEB-INF/wsdl/127.0.0.1_8280/servicioInicio.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PublicadorInicioService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioInicio?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="ListarPropuestasWeb"></message>
<message name="ListarPropuestasWebResponse">
<part name="return" type="tns:dtListPropuestaWeb"></part>
</message>
<message name="publicarInicio">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarInicioResponse"></message>
<message name="getDtPropuestas"></message>
<message name="getDtPropuestasResponse">
<part name="return" type="tns:dtListConsultaPropuesta"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<portType name="PublicadorInicio">
<operation name="ListarPropuestasWeb">
<input wsam:Action="http://Servicios/PublicadorInicio/ListarPropuestasWebRequest" message="tns:ListarPropuestasWeb"></input>
<output wsam:Action="http://Servicios/PublicadorInicio/ListarPropuestasWebResponse" message="tns:ListarPropuestasWebResponse"></output>
</operation>
<operation name="publicarInicio">
<input wsam:Action="http://Servicios/PublicadorInicio/publicarInicioRequest" message="tns:publicarInicio"></input>
<output wsam:Action="http://Servicios/PublicadorInicio/publicarInicioResponse" message="tns:publicarInicioResponse"></output>
</operation>
<operation name="getDtPropuestas">
<input wsam:Action="http://Servicios/PublicadorInicio/getDtPropuestasRequest" message="tns:getDtPropuestas"></input>
<output wsam:Action="http://Servicios/PublicadorInicio/getDtPropuestasResponse" message="tns:getDtPropuestasResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorInicio/getDtPropuestas/Fault/Exception"></fault>
</operation>
</portType>
<binding name="PublicadorInicioPortBinding" type="tns:PublicadorInicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="ListarPropuestasWeb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicarInicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDtPropuestas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PublicadorInicioService">
<port name="PublicadorInicioPort" binding="tns:PublicadorInicioPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioInicio"></soap:address>
</port>
</service>
</definitions>