web/WEB-INF/wsdl/127.0.0.1_8280/servicioConsultaP.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PublicadorConsultarPropuestaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioConsultaP?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicarConsultaPropuesta">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarConsultaPropuestaResponse"></message>
<message name="ListarPropuestasCategoria">
<part name="nombre" type="xsd:string"></part>
</message>
<message name="ListarPropuestasCategoriaResponse">
<part name="return" type="tns:dtListInfoPropuesta"></part>
</message>
<message name="SeleccionarPropuesta">
<part name="titulo" type="xsd:string"></part>
<part name="nickProp" type="xsd:string"></part>
</message>
<message name="SeleccionarPropuestaResponse">
<part name="return" type="tns:dtConsultaPropuesta"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="getDtPropuestas"></message>
<message name="getDtPropuestasResponse">
<part name="return" type="tns:dtListConsultaPropuesta"></part>
</message>
<message name="CancelarPropuesta">
<part name="titulo" type="xsd:string"></part>
<part name="nick" type="xsd:string"></part>
</message>
<message name="CancelarPropuestaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="ListarPropuestasCancelar">
<part name="nick" type="xsd:string"></part>
</message>
<message name="ListarPropuestasCancelarResponse">
<part name="return" type="tns:dtListNickTitProp"></part>
</message>
<message name="ExtenderFinanciacion">
<part name="titulo" type="xsd:string"></part>
</message>
<message name="ExtenderFinanciacionResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="ComentarPropuesta">
<part name="titulo" type="xsd:string"></part>
<part name="nick" type="xsd:string"></part>
<part name="texto" type="xsd:string"></part>
</message>
<message name="ComentarPropuestaResponse"></message>
<message name="ListarPropuestasX_deProponenteX">
<part name="nick" type="xsd:string"></part>
</message>
<message name="ListarPropuestasX_deProponenteXResponse">
<part name="return" type="tns:dtListNickTitProp"></part>
</message>
<message name="ListarPropuestas"></message>
<message name="ListarPropuestasResponse">
<part name="return" type="tns:dtListNickTitProp"></part>
</message>
<message name="ListarPropuestasNoI"></message>
<message name="ListarPropuestasNoIResponse">
<part name="return" type="tns:dtListInfoPropuesta"></part>
</message>
<message name="ListarColaboradoresProp">
<part name="titulo" type="xsd:string"></part>
</message>
<message name="ListarColaboradoresPropResponse">
<part name="return" type="tns:dtListConsultaPropuesta2"></part>
</message>
<message name="ListarPropuestasComentar"></message>
<message name="ListarPropuestasComentarResponse">
<part name="return" type="tns:dtListNickTitProp"></part>
</message>
<portType name="PublicadorConsultarPropuesta">
<operation name="publicarConsultaPropuesta">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/publicarConsultaPropuestaRequest" message="tns:publicarConsultaPropuesta"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/publicarConsultaPropuestaResponse" message="tns:publicarConsultaPropuestaResponse"></output>
</operation>
<operation name="ListarPropuestasCategoria">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasCategoriaRequest" message="tns:ListarPropuestasCategoria"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasCategoriaResponse" message="tns:ListarPropuestasCategoriaResponse"></output>
</operation>
<operation name="SeleccionarPropuesta" parameterOrder="titulo nickProp">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/SeleccionarPropuestaRequest" message="tns:SeleccionarPropuesta"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/SeleccionarPropuestaResponse" message="tns:SeleccionarPropuestaResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarPropuesta/SeleccionarPropuesta/Fault/Exception"></fault>
</operation>
<operation name="getDtPropuestas">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/getDtPropuestasRequest" message="tns:getDtPropuestas"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/getDtPropuestasResponse" message="tns:getDtPropuestasResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarPropuesta/getDtPropuestas/Fault/Exception"></fault>
</operation>
<operation name="CancelarPropuesta" parameterOrder="titulo nick">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/CancelarPropuestaRequest" message="tns:CancelarPropuesta"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/CancelarPropuestaResponse" message="tns:CancelarPropuestaResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarPropuesta/CancelarPropuesta/Fault/Exception"></fault>
</operation>
<operation name="ListarPropuestasCancelar">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasCancelarRequest" message="tns:ListarPropuestasCancelar"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasCancelarResponse" message="tns:ListarPropuestasCancelarResponse"></output>
</operation>
<operation name="ExtenderFinanciacion">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ExtenderFinanciacionRequest" message="tns:ExtenderFinanciacion"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ExtenderFinanciacionResponse" message="tns:ExtenderFinanciacionResponse"></output>
</operation>
<operation name="ComentarPropuesta" parameterOrder="titulo nick texto">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ComentarPropuestaRequest" message="tns:ComentarPropuesta"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ComentarPropuestaResponse" message="tns:ComentarPropuestaResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ComentarPropuesta/Fault/Exception"></fault>
</operation>
<operation name="ListarPropuestasX_deProponenteX">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasX_deProponenteXRequest" message="tns:ListarPropuestasX_deProponenteX"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasX_deProponenteXResponse" message="tns:ListarPropuestasX_deProponenteXResponse"></output>
</operation>
<operation name="ListarPropuestas">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasRequest" message="tns:ListarPropuestas"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasResponse" message="tns:ListarPropuestasResponse"></output>
</operation>
<operation name="ListarPropuestasNoI">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasNoIRequest" message="tns:ListarPropuestasNoI"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasNoIResponse" message="tns:ListarPropuestasNoIResponse"></output>
</operation>
<operation name="ListarColaboradoresProp">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarColaboradoresPropRequest" message="tns:ListarColaboradoresProp"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarColaboradoresPropResponse" message="tns:ListarColaboradoresPropResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarColaboradoresProp/Fault/Exception"></fault>
</operation>
<operation name="ListarPropuestasComentar">
<input wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasComentarRequest" message="tns:ListarPropuestasComentar"></input>
<output wsam:Action="http://Servicios/PublicadorConsultarPropuesta/ListarPropuestasComentarResponse" message="tns:ListarPropuestasComentarResponse"></output>
</operation>
</portType>
<binding name="PublicadorConsultarPropuestaPortBinding" type="tns:PublicadorConsultarPropuesta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicarConsultaPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ListarPropuestasCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="SeleccionarPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getDtPropuestas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="CancelarPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ListarPropuestasCancelar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ExtenderFinanciacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ComentarPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ListarPropuestasX_deProponenteX">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ListarPropuestas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ListarPropuestasNoI">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ListarColaboradoresProp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ListarPropuestasComentar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorConsultarPropuestaService">
<port name="PublicadorConsultarPropuestaPort" binding="tns:PublicadorConsultarPropuestaPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioConsultaP"></soap:address>
</port>
</service>
</definitions>