src/conf/xml-resources/web-service-references/servicioAltaUsuario/wsdl/127.0.0.1_8280/servicioAltaUsuario.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PublicadorAltaUsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioAltaUsuario?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicarAltaUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarAltaUsuarioResponse"></message>
<message name="AgregarUsuarioColaborador">
<part name="nick" type="xsd:string"></part>
<part name="nombre" type="xsd:string"></part>
<part name="apellido" type="xsd:string"></part>
<part name="correo" type="xsd:string"></part>
<part name="cal" type="xsd:dateTime"></part>
<part name="imagen" type="tns:dataImagen"></part>
<part name="direccion" type="xsd:string"></part>
</message>
<message name="AgregarUsuarioColaboradorResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="AgregarUsuarioProponente">
<part name="nick" type="xsd:string"></part>
<part name="nombre" type="xsd:string"></part>
<part name="apellido" type="xsd:string"></part>
<part name="correo" type="xsd:string"></part>
<part name="cal" type="xsd:dateTime"></part>
<part name="imagen" type="tns:dataImagen"></part>
<part name="direccion" type="xsd:string"></part>
<part name="biografia" type="xsd:string"></part>
<part name="sitio" type="xsd:string"></part>
<part name="hash" type="xsd:string"></part>
</message>
<message name="AgregarUsuarioProponenteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="PublicadorAltaUsuario">
<operation name="publicarAltaUsuario">
<input wsam:Action="http://Servicios/PublicadorAltaUsuario/publicarAltaUsuarioRequest" message="tns:publicarAltaUsuario"></input>
<output wsam:Action="http://Servicios/PublicadorAltaUsuario/publicarAltaUsuarioResponse" message="tns:publicarAltaUsuarioResponse"></output>
</operation>
<operation name="AgregarUsuarioColaborador" parameterOrder="nick nombre apellido correo cal imagen direccion">
<input wsam:Action="http://Servicios/PublicadorAltaUsuario/AgregarUsuarioColaboradorRequest" message="tns:AgregarUsuarioColaborador"></input>
<output wsam:Action="http://Servicios/PublicadorAltaUsuario/AgregarUsuarioColaboradorResponse" message="tns:AgregarUsuarioColaboradorResponse"></output>
</operation>
<operation name="AgregarUsuarioProponente" parameterOrder="nick nombre apellido correo cal imagen direccion biografia sitio hash">
<input wsam:Action="http://Servicios/PublicadorAltaUsuario/AgregarUsuarioProponenteRequest" message="tns:AgregarUsuarioProponente"></input>
<output wsam:Action="http://Servicios/PublicadorAltaUsuario/AgregarUsuarioProponenteResponse" message="tns:AgregarUsuarioProponenteResponse"></output>
</operation>
</portType>
<binding name="PublicadorAltaUsuarioPortBinding" type="tns:PublicadorAltaUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicarAltaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="AgregarUsuarioColaborador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="AgregarUsuarioProponente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorAltaUsuarioService">
<port name="PublicadorAltaUsuarioPort" binding="tns:PublicadorAltaUsuarioPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioAltaUsuario"></soap:address>
</port>
</service>
</definitions>