src/conf/xml-resources/web-service-references/servicioAltaP/wsdl/127.0.0.1_8280/servicioAltaP.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PublicadorAltaPropuestaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioAltaP?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="CrearPropuesta">
<part name="tituloP" type="xsd:string"></part>
<part name="descripcion" type="xsd:string"></part>
<part name="lugar" type="xsd:string"></part>
<part name="fecha" type="xsd:string"></part>
<part name="montoE" type="xsd:float"></part>
<part name="montoTot" type="xsd:float"></part>
<part name="retorno" type="xsd:string"></part>
</message>
<message name="CrearPropuestaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="ListarCategorias"></message>
<message name="ListarCategoriasResponse">
<part name="return" type="tns:dtCategorias"></part>
</message>
<message name="publicar">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarResponse"></message>
<message name="CrearPropuesta2">
<part name="tituloP" type="xsd:string"></part>
<part name="descripcion" type="xsd:string"></part>
<part name="lugar" type="xsd:string"></part>
<part name="fecha" type="xsd:string"></part>
<part name="montoE" type="xsd:float"></part>
<part name="montoTot" type="xsd:float"></part>
<part name="retorno" type="xsd:string"></part>
<part name="imagen" type="xsd:base64Binary"></part>
<part name="extencion" type="xsd:string"></part>
</message>
<message name="CrearPropuesta2Response">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="SeleccionarUC">
<part name="nick" type="xsd:string"></part>
<part name="categoria" type="xsd:string"></part>
</message>
<message name="SeleccionarUCResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="PublicadorAltaPropuesta">
<operation name="CrearPropuesta" parameterOrder="tituloP descripcion lugar fecha montoE montoTot retorno">
<input wsam:Action="http://Servicios/PublicadorAltaPropuesta/CrearPropuestaRequest" message="tns:CrearPropuesta"></input>
<output wsam:Action="http://Servicios/PublicadorAltaPropuesta/CrearPropuestaResponse" message="tns:CrearPropuestaResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorAltaPropuesta/CrearPropuesta/Fault/Exception"></fault>
</operation>
<operation name="ListarCategorias">
<input wsam:Action="http://Servicios/PublicadorAltaPropuesta/ListarCategoriasRequest" message="tns:ListarCategorias"></input>
<output wsam:Action="http://Servicios/PublicadorAltaPropuesta/ListarCategoriasResponse" message="tns:ListarCategoriasResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/PublicadorAltaPropuesta/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PublicadorAltaPropuesta/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="CrearPropuesta2" parameterOrder="tituloP descripcion lugar fecha montoE montoTot retorno imagen extencion">
<input wsam:Action="http://Servicios/PublicadorAltaPropuesta/CrearPropuesta2Request" message="tns:CrearPropuesta2"></input>
<output wsam:Action="http://Servicios/PublicadorAltaPropuesta/CrearPropuesta2Response" message="tns:CrearPropuesta2Response"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorAltaPropuesta/CrearPropuesta2/Fault/Exception"></fault>
</operation>
<operation name="SeleccionarUC" parameterOrder="nick categoria">
<input wsam:Action="http://Servicios/PublicadorAltaPropuesta/SeleccionarUCRequest" message="tns:SeleccionarUC"></input>
<output wsam:Action="http://Servicios/PublicadorAltaPropuesta/SeleccionarUCResponse" message="tns:SeleccionarUCResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorAltaPropuesta/SeleccionarUC/Fault/Exception"></fault>
</operation>
</portType>
<binding name="PublicadorAltaPropuestaPortBinding" type="tns:PublicadorAltaPropuesta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="CrearPropuesta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="ListarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="CrearPropuesta2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="SeleccionarUC">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PublicadorAltaPropuestaService">
<port name="PublicadorAltaPropuestaPort" binding="tns:PublicadorAltaPropuestaPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioAltaP"></soap:address>
</port>
</service>
</definitions>