src/conf/xml-resources/web-service-references/servicioRegistrarC/wsdl/127.0.0.1_8280/servicioRegistrarC.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PublicadorRegistrarColaboracionService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://127.0.0.1:8280/servicioRegistrarC?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicarRegistrarColaboracion">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="publicarRegistrarColaboracionResponse"></message>
<message name="SeleccionarColaborador">
<part name="nickName" type="xsd:string"></part>
</message>
<message name="SeleccionarColaboradorResponse">
<part name="return" type="tns:dtinfoColaborador"></part>
</message>
<message name="listarPropuestasRWEB"></message>
<message name="listarPropuestasRWEBResponse">
<part name="return" type="tns:dtListPropuestasRWEB"></part>
</message>
<message name="SeleccionarPropuestaR">
<part name="opcion" type="xsd:string"></part>
</message>
<message name="SeleccionarPropuestaRResponse">
<part name="return" type="tns:dtinfoPropuesta"></part>
</message>
<message name="AgregarColaboracion">
<part name="retorno" type="xsd:boolean"></part>
<part name="monto_final" type="xsd:float"></part>
</message>
<message name="AgregarColaboracionResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<portType name="PublicadorRegistrarColaboracion">
<operation name="publicarRegistrarColaboracion">
<input wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/publicarRegistrarColaboracionRequest" message="tns:publicarRegistrarColaboracion"></input>
<output wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/publicarRegistrarColaboracionResponse" message="tns:publicarRegistrarColaboracionResponse"></output>
</operation>
<operation name="SeleccionarColaborador">
<input wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/SeleccionarColaboradorRequest" message="tns:SeleccionarColaborador"></input>
<output wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/SeleccionarColaboradorResponse" message="tns:SeleccionarColaboradorResponse"></output>
</operation>
<operation name="listarPropuestasRWEB">
<input wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/listarPropuestasRWEBRequest" message="tns:listarPropuestasRWEB"></input>
<output wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/listarPropuestasRWEBResponse" message="tns:listarPropuestasRWEBResponse"></output>
</operation>
<operation name="SeleccionarPropuestaR">
<input wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/SeleccionarPropuestaRRequest" message="tns:SeleccionarPropuestaR"></input>
<output wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/SeleccionarPropuestaRResponse" message="tns:SeleccionarPropuestaRResponse"></output>
</operation>
<operation name="AgregarColaboracion" parameterOrder="retorno monto_final">
<input wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/AgregarColaboracionRequest" message="tns:AgregarColaboracion"></input>
<output wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/AgregarColaboracionResponse" message="tns:AgregarColaboracionResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PublicadorRegistrarColaboracion/AgregarColaboracion/Fault/Exception"></fault>
</operation>
</portType>
<binding name="PublicadorRegistrarColaboracionPortBinding" type="tns:PublicadorRegistrarColaboracion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicarRegistrarColaboracion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="SeleccionarColaborador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarPropuestasRWEB">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="SeleccionarPropuestaR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="AgregarColaboracion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PublicadorRegistrarColaboracionService">
<port name="PublicadorRegistrarColaboracionPort" binding="tns:PublicadorRegistrarColaboracionPortBinding">
<soap:address location="http://127.0.0.1:8280/servicioRegistrarC"></soap:address>
</port>
</service>
</definitions>