src/conf/xml-resources/web-service-references/servicioAltaP_1/wsdl/127.0.0.1_8280/servicioAltaP.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCategorias">
<xs:sequence>
<xs:element name="listCategoria" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataImagen">
<xs:sequence>
<xs:element name="stream" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="nombreArchivo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="extensionArchivo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="tipoRetorno">
<xs:restriction base="xs:string">
<xs:enumeration value="Entradas"></xs:enumeration>
<xs:enumeration value="porGanancias"></xs:enumeration>
<xs:enumeration value="EntGan"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>