src/conf/xml-resources/web-service-references/servicioInicio/wsdl/127.0.0.1_8280/servicioInicio.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:complexType name="dtListConsultaPropuesta">
<xs:sequence>
<xs:element name="lista" type="tns:dtConsultaPropuesta" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtConsultaPropuesta">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lugar" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaR" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="montoActual" type="xs:float"></xs:element>
<xs:element name="EstadoActual" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="montoE" type="xs:float"></xs:element>
<xs:element name="montoTot" type="xs:float"></xs:element>
<xs:element name="tipoRet" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickproponente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="esExtendible" type="xs:boolean"></xs:element>
<xs:element name="esCancelable" type="xs:boolean"></xs:element>
<xs:element name="esComentable" type="xs:boolean"></xs:element>
<xs:element name="esColaborable" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListPropuestaWeb">
<xs:sequence>
<xs:element name="publicadas" type="tns:dtPropuestaWeb" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="financiadas" type="tns:dtPropuestaWeb" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="enFinanciacion" type="tns:dtPropuestaWeb" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="noFinanciadas" type="tns:dtPropuestaWeb" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="canceladas" type="tns:dtPropuestaWeb" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPropuestaWeb">
<xs:sequence>
<xs:element name="tituloP" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descrip" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tiempoR" type="xs:int"></xs:element>
<xs:element name="recaudacion" type="xs:float"></xs:element>
<xs:element name="porcentaje" type="xs:int"></xs:element>
<xs:element name="colaboradores" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>